.button-default {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: #e7f1ff;
  border-color: #e7f1ff;
  color: #1076fb;
  height: 36px;
  padding: 0px 16px;
  box-sizing: border-box;
  box-shadow: none;
  cursor: pointer;
  line-height: 14px;
  font-size: 14px;
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 500;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-property: 'background-color, border-color, box-shadow';
}

.button-default:hover {
  background-color: #cfe4fe;
  border-color: #cfe4fe;
}

.button-default:active {
  background-color: #1076fb;
  border-color: #1076fb;
  color: #fff;
}
